# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.ipynb_checkpoints/

# VS Code
.vscode/
*.code-workspace

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Virtual environments
.venv/
env/
venv/

# Model files
*.pkl
*.h5
*.joblib

# OS files
.DS_Store
Thumbs.db